.services{
    background-color: #FEA702;
    /* background-color: #E65644; */
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service-box{
    background-color: whitesmoke;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid  rgb(190, 144, 26);
    color: rgb(102, 101, 101);
    width: 100%;

}

.service-img{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 5px 0 rgb(185, 185, 185);
    
}

.service-title{
    font-weight: 300;
    /* color: #E65644; */
    color: #FEA702;
    display: bloc;
    padding: 10px 0;
    text-align: center;
}

